name: version check
on:
  push:
    tags:
      - "v*"

jobs:
  check-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: validate package version consistency
        run:
          TAG_VERSION=${GITHUB_REF#refs/tags/v}
          PACKAGE_VERSION=$(python -c "import my_package.__about__ as v; print(v.__version__)")
          
          if [ "$TAG_VERSION" != "$PACKAGE_VERSION" ]; then
          echo "Version mismatch! Github tag is $TAG_VERSION but package version is $PACKAGE_VERSION"
          exit 1
          fi